@tailwind base;

body {
  background: linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(246, 167, 215, 0.9) 50%,
      rgba(255, 255, 255, 0.9)
    ),
    linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.3) 25%,
        transparent 25%,
        transparent 75%,
        rgba(0, 0, 0, 0.3) 75%,
        rgba(0, 0, 0, 0.3)
      )
      0 0 / 25px 25px,
    linear-gradient(
        -45deg,
        rgba(0, 0, 0, 0.3) 25%,
        transparent 25%,
        transparent 75%,
        rgba(0, 0, 0, 0.3) 75%,
        rgba(0, 0, 0, 0.3)
      )
      0 0 / 25px 25px;
}

@tailwind components;
@tailwind utilities;

@layer utilities {
  .btn {
    box-sizing: border-box;
    display: inline-block;
    padding: 1px 6px;
    font-family: "Noto Sans JP", -apple-system, blinkmacsystemfont,
      ヒラギノ角ゴ pro w3, hiragino kaku gothic pro, roboto, yugothic, yu gothic,
      游ゴシック体, 游ゴシック, メイリオ, meiryo, ｍｓ ｐゴシック, ms pgothic,
      sans-serif;
    font-size: 11px;
    color: -internal-light-dark(black, white);
    text-align: center;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    background-color: gainsboro;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-style: outset;
    border-width: 2px;
    border-image: initial;
    word-spacing: normal;
    -webkit-writing-mode: horizontal-tb !important;
    appearance: auto;
    text-rendering: auto;
  }
}
